numpy=1.23.1
# use gpu version
-f https://download.pytorch.org/whl/torch_stable.html
torch
-f https://download.pytorch.org/whl/torch_stable.html
torchvision
opencv-python
onnx
# onnxruntime-gpu==1.12
onnxruntime
mxnet
scikit-image
insightface==0.2.1
requests
kornia==0.5.4
dill
wandb